@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Regular.woff2") format("woff2"),
         url("../assets/fonts/Lato-Regular.woff") format("woff");
  }

html {
    font-size: 16px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem; /* 32px */
    margin: .67rem 0 .67rem 0;
}

h2, h3, h4, h5, h6 {
    font-size: 1.5rem /* 24px */
}

p {
    font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem; /* 18px */
}